/*---------------registration.php and updates.php css-----------*/

body{
    background: -webkit-linear-gradient(left,#5DADE2, #00c6ff);
}

.reg{
    padding-left: 50px;
    padding-right: 50px;
}
.list{
    padding-left: 40px;
    padding-right: 40px;
    
}

h3{
    font-style:italic;
    font-weight:bold;
}

.btn{
    padding-left: 50px;
    padding-right: 50px;
    background: -webkit-linear-gradient(left,#5DADE2, #00c6ff);
    font-weight:bold;
}



.outer-card{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 4%;
}

.form-label{
    font-weight:500;
}

